{% extends "home.html" %}

{% block content %}


<div>
    <h3>Here are the rules</h3>
    <p>
         <li>Player 1 chooses between Rock, Paper, Scissors</li>
    </p>
    <p>
        <li>Player 2 chooses between Rock, Paper, Scissors</li>
    </p>
    <p>
        <li>Rock beats Scissors</li>
    </p>
    <p>
        <li>Scissors beats Paper</li>
    </p>
    <p>
        <li>Paper beats Rock</li>
    </p>
    <p>
        <li>Winner takes it all!!!</li>
    </p>
    <hr>
    
</div>

{% endblock %}